openapi: 3.0.1
info:
  description: A unofficial thirdparty library for shipmondo api for dotnet
  title: Shipmondo API
  version: "3"
servers:
- url: https://app.shipmondo.com/api/public/v3
paths:
  /account/:
    get:
      description: Returns infomation on the currenctly logged in account.
      operationId: account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_200_response'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
      security:
      - basicAuth: []
      summary: Retrieve account infomation
      tags:
      - Account
  /account/balance:
    get:
      description: Returns the current balance of your account.
      operationId: account_balance_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_balance_get_200_response'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
      security:
      - basicAuth: []
      summary: Retrieve balance
      tags:
      - Account
  /account/payment_requests:
    get:
      description: |-
        Returns a list of your payment requests. If there are unsettled payment requests, they can block you from using the API.

        Unsettled payment requests must settled through the Shipmondo app, unless the account is set to automatic settlement.
      operationId: payment_requests_get
      parameters:
      - description: |
          "From" timestamp for the payment requests to be included in the filter. Examples:
          * 2017-06-19T11:00:03.305+02:00
          * 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
        explode: true
        in: query
        name: created_at_min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          "To" timestamp for the payment requests to be included in the filter. Examples:
          * 2017-06-29T11:00:03.305+02:00
          * 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
        explode: true
        in: query
        name: created_at_max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          type: integer
        style: form
      - description: |-
          For pagination. Defines which page the results are fetched
          from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PaymentRequest'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
      security:
      - basicAuth: []
      summary: List all payment requests
      tags:
      - Account
  /bookkeeping_integrations:
    get:
      description: "Returns a list of your bookkeeping integrations.\n\n      \n Bookkeeping\
        \ integrations are used to automatically create invoices from your orders\
        \ and transfer them to your external bookkeeping system."
      operationId: bookkeeping_integrations_get
      parameters:
      - description: ID for the bookkeeping integrations to be included in the filtered
          results.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: For pagination. Defines which page the results are fetched from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/BookkeepingIntegration'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all bookkeeping integrations
      tags:
      - Bookkeeping integrations
  /bookkeeping_integrations/{id}:
    get:
      description: "Returns the details of a bookkeeping integration.\n\n\n      \n\
        \ Bookkeeping integrations are used to automatically create invoices from\
        \ your orders and transfer them to your external bookkeeping system."
      operationId: bookkeeping_integration_get
      parameters:
      - description: ID for the bookkeeping integration to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BookkeepingIntegration'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve a bookkeeping integration
      tags:
      - Bookkeeping integrations
  /carriers:
    get:
      description: |-
        Returns a list of available carriers for your account.

        Carriers are retrieved based on own agreements and Shipmondo's agreements.
      operationId: carriers_get
      parameters:
      - description: Sender country code to be included in the filter.
        explode: true
        in: query
        name: sender_country_code
        required: false
        schema:
          example: DK
          type: string
        style: form
      - description: Receiver country code to be included in the filter.
        explode: true
        in: query
        name: receiver_country_code
        required: true
        schema:
          example: DK
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carriers'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: List available carriers
      tags:
      - "Carriers, products & services"
  /products:
    get:
      description: "\n         Returns a list of shipping products and services.\n\
        \n\n         Only products available for the user are returned.\n\n\n    \
        \     The codes of the products and services are required when creating a\
        \ shipment.\n      "
      operationId: products_get
      parameters:
      - description: ID for the product to be included in the filter.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: Code for the product to be included in the filter.
        explode: true
        in: query
        name: product_code
        required: false
        schema:
          example: GLSDK_SD
          type: string
        style: form
      - description: Country code (ISO Alpha-2) of the sender country to be included
          in the filter.
        explode: true
        in: query
        name: sender_country_code
        required: false
        schema:
          example: DK
          type: string
        style: form
      - description: Country code (ISO Alpha-2) of the receiver country to be included
          in the filter.
        explode: true
        in: query
        name: receiver_country_code
        required: false
        schema:
          example: DK
          type: string
        style: form
      - description: Carrier code to be included in the filter.
        explode: true
        in: query
        name: carrier_code
        required: false
        schema:
          example: gls
          type: string
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          type: integer
        style: form
      - description: For pagination. Defines which page the results are fetched from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ShippingProduct'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all products
      tags:
      - "Carriers, products & services"
  /package_types:
    get:
      description: "\n         Returns a list of package types for a product.\n\n\n\
        \         Package types returned can be used when defining parcels in shipment\
        \ booking.\n      "
      operationId: package_types_get
      parameters:
      - description: Code for the product to be included in the filter
        explode: true
        in: query
        name: product_code
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PackageType'
                type: array
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all package types
      tags:
      - "Carriers, products & services"
  /documents/end_of_day:
    get:
      description: "Returns an End of Day list for a specific carrier, with all shipments\
        \ set to be picked up in the selected time."
      operationId: end_of_day_get
      parameters:
      - description: Carrier code of the carrier you want to retrieve the list for.
        explode: true
        in: query
        name: carrier_code
        required: true
        schema:
          enum:
          - airmee
          - alpi
          - b2c_europe
          - best
          - bft
          - bhs_logistics
          - bpost
          - bring
          - brink
          - budbee
          - burd
          - bws
          - cm_transport
          - collicare
          - dachser
          - dansk_distribution
          - dao
          - db_schenker
          - deutsche_post
          - dfm
          - dhl_express
          - dhl_freight_se
          - dhl_parcel
          - doorhub
          - dpd
          - dsv
          - dsv_xpress
          - early_bird
          - endepunkt
          - esbjerg_gods
          - fed_ex
          - freja
          - frms
          - geodis
          - gls
          - gls_de
          - gls_e
          - gls_pl
          - helthjem
          - hurrah_today
          - instabox
          - interfjord
          - jjd
          - kht
          - leman
          - mover
          - pdk
          - per_dg
          - posten_norge
          - posti
          - post_nl
          - post_nord
          - rb9
          - sand_distribution
          - sdl
          - srt
          - test_gc
          - tnt
          - ub_db_schenker_se
          - unspecified
          - ups
          - xpressen
          type: string
        style: form
      - description: |
          "From" timestamp for the end of day list. Examples:
          * 2018-06-19T11:00:00.305+02:00
          * 2018-06-19 will be transformed into 2018-06-19T00:00:00.000+02:00
        explode: true
        in: query
        name: from_time
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          "To" timestamp for the end of day list. Examples:
          * 2018-06-20T11:00:00.305+02:00
          * 2018-06-20 will be transformed into 2018-06-20T00:00:00.000+02:00
        explode: true
        in: query
        name: to_time
        required: true
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve an End of Day list
      tags:
      - Documents
  /documents/waybill:
    get:
      description: "Returns a waybill for letter products, such as PostNord Tracked\
        \ and Untracked."
      operationId: waybill_get
      parameters:
      - description: Carrier code to be included in the filter
        explode: true
        in: query
        name: carrier_code
        required: true
        schema:
          default: pdk
          enum:
          - pdk
          - deutsche_post
          type: string
        style: form
      - description: |-
          Quantity of bags to be declared <br> <strong>Note:</strong> <ul>
          <li>Required for PostNord</li> <li>Required for Deutsche Post, but is only used if an open order is being closed</li>
        explode: true
        in: query
        name: bag_quantity
        required: true
        schema:
          default: 0
          type: integer
        style: form
      - description: |-
          Quantity of bags to be declared <br> <strong>Note:</strong> <ul>
          <li>Required for PostNord</li> <li>If used with Deutsche Post it is just added to bag_quantity</li></ul>
        explode: true
        in: query
        name: container_quantity
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: |
          "From" timestamp for the waybill document. Examples:
          * 2018-06-19T11:00:00.305+02:00
          * 2018-06-19 will be transformed into 2018-06-19T00:00:00.000+02:00
        explode: true
        in: query
        name: from_time
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          "To" timestamp for the waybill document. Examples:
          * 2018-06-20T11:00:00.305+02:00
          * 2018-06-20 will be transformed into 2018-06-20T00:00:00.000+02:00
        explode: true
        in: query
        name: to_time
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Determines the product of the waybill:
          * 1 / none = Varebrev (Legacy)
          * 2 = PostNord Tracked
          * 3 = PostNord Untracked
        explode: true
        in: query
        name: product_id
        required: false
        schema:
          default: 1
          enum:
          - 1
          - 2
          - 3
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve a waybill
      tags:
      - Documents
  /draft_shipments:
    get:
      description: "Returns a list of draft shipments.\n\n      \nThe draft shipment\
        \ contains basic information from which a shipment can be created through\
        \ Shipmondo later."
      operationId: draft_shipments_get
      parameters:
      - description: ID for the draft shipment to be included in the filter
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: Order ID for the draft shipment to be included in the filter
        explode: true
        in: query
        name: order_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter if the draft shipment is archived or not
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter if there has been created a label for the draft shipments
          or not
        explode: true
        in: query
        name: label_created
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          "From" timestamp for the draft shipments to be included in the filter. Examples:
          * 2017-06-19T11:00:03.305+02:00
          * 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
        explode: true
        in: query
        name: created_at_min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          "To" timestamp for the draft shipments to be included in the filter. Examples:
          * 2017-06-29T11:00:03.305+02:00
          * 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
        explode: true
        in: query
        name: created_at_max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: For pagination. Defines which page the results are fetched from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DraftShipment'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all draft shipments
      tags:
      - Draft shipments
    post:
      description: "Creates a draft shipment.\n\n      \nThe draft shipment contains\
        \ basic information from which a shipment can be created through Shipmondo\
        \ later."
      operationId: draft_shipments_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDraftShipmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftShipment'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: Create a draft shipment
      tags:
      - Draft shipments
      x-codegen-request-body-name: body
  /draft_shipments/{id}:
    delete:
      description: Archives a draft shipment. The draft shipment will be marked as
        archived and will no longer be visible at Shipmondo.
      operationId: draft_shipment_delete
      parameters:
      - description: ID for the draft shipment that need to be archived
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftShipment'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: Archive a draft shipment
      tags:
      - Draft shipments
    get:
      description: "Returns the details of a draft shipment.\n\n      \nThe draft\
        \ shipment contains basic information from which a shipment can be created\
        \ through Shipmondo later."
      operationId: draft_shipment_get
      parameters:
      - description: ID for the draft shipment to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftShipment'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve a draft shipment
      tags:
      - Draft shipments
    put:
      description: "Updates the specified draft shipment by setting the values of\
        \ the parameters passed. Any parameters not provided will be left unchanged.\n\
        \n      \nThe draft shipment contains basic information from which a shipment\
        \ can be created through Shipmondo later."
      operationId: draft_shipment_put
      parameters:
      - description: ID for the draft shipment that need to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDraftShipmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftShipment'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: Update a draft shipment
      tags:
      - Draft shipments
      x-codegen-request-body-name: body
  /items:
    get:
      description: |-
        Returns a list of items.

        Items are the products and services that are sold as part of an order. They are created by a unique SKU when an order is placed, through item import, or through the API.
      operationId: items_get
      parameters:
      - description: ID of the item that needs to be considered for filter
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: SKU of the item that needs to be considered for filter
        explode: true
        in: query
        name: sku
        required: false
        schema:
          type: string
        style: form
      - description: Name of the item that needs to be considered for filter
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The barcode value of the item that needs to be considered for
          filter
        explode: true
        in: query
        name: barcode
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          "From" timestamp for the items to be included in the filter. Examples:
          * 2017-06-19T11:00:03.305+02:00
          * 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
        explode: true
        in: query
        name: created_at_min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          "To" timestamp for the items to be included in the filter. Examples:
          * 2017-06-29T11:00:03.305+02:00
          * 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
        explode: true
        in: query
        name: created_at_max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          "From" value of "updated" timestamp for the items to be included in the filter. Examples:
          * 2018-06-19T11:00:03.305+02:00
          * 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
        explode: true
        in: query
        name: updated_at_min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          "To" value of "updated" timestamp for the items to be included in the filter. Examples:
          * 2018-06-29T11:00:03.305+02:00
          * 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
        explode: true
        in: query
        name: updated_at_max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: For pagination. Defines which page the results are fetched from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Item'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all items
      tags:
      - Items
    post:
      description: "Creates a new item with the specified information.\n\n      \n\
        Items are the products and services that are sold as part of an order. They\
        \ are created by a unique SKU when an order is placed, through item import,\
        \ or through the API."
      operationId: item_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateItemRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Create an item
      tags:
      - Items
      x-codegen-request-body-name: body
  /items/{id}:
    get:
      description: "Returns the details of an item.\n\n      \nItems are the products\
        \ and services that are sold as part of an order. They are created by a unique\
        \ SKU when an order is placed, through item import, or through the API."
      operationId: item_get
      parameters:
      - description: ID for the item to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve an item
      tags:
      - Items
    put:
      description: "\n      Updates the specified item by setting the values of the\
        \ parameters passed.\n\n\n      Any parameters not provided will be left unchanged.\n\
        \n\n      Updating the **SKU** is not possible.\n\n      "
      operationId: item_update
      parameters:
      - description: ID for the item that is to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateItemRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Update an item
      tags:
      - Items
      x-codegen-request-body-name: body
  /shipments/{id}/labels:
    get:
      description: |-
        Returns labels for a specific shipment. Labels are delivered as Base64-encoded data.

        For PNG format, each label has its own object. For all others, the labels are collected in one object.
      operationId: shipment_labels
      parameters:
      - description: ID for the shipment to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Which format the labels should be.
        explode: true
        in: query
        name: label_format
        required: false
        schema:
          enum:
          - a4_pdf
          - 10x19_pdf
          - 10x19_png
          - 10x19_zpl
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Label'
                type: array
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve labels of a shipment
      tags:
      - Labels
  /labels:
    get:
      description: |-
        Returns labels for multiple shipments.

        For PNG format each label has its own object in the labels array. For all other, the labels is collected in one object.
      operationId: labels_get
      parameters:
      - description: Comma-separated list of shipment IDs which labels should be retrieved
          for. Limited to 25 shipment IDs per request.
        example: "10075,10076,10077"
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Format for the labels. Available: a4_pdf, 10x19_pdf, 10x19_png, 10x19_zpl
        explode: true
        in: query
        name: label_format
        required: false
        schema:
          enum:
          - a4_pdf
          - 10x19_pdf
          - 10x19_png
          - 10x19_zpl
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Labels'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve labels for multiple shipments
      tags:
      - Labels
  /payment_gateways:
    get:
      description: "Returns a list of payment gateways.\n\n      \nPayment gateways\
        \ are integrations created through Shipmondo to payment service providers.\
        \ They are used to capture and cancel payments through Shipmondo."
      operationId: payment_gateways_get
      parameters:
      - description: ID for the payment gateway to be included in the filter
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: For pagination. Defines which page the results are fetched from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PaymentGateway'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all payment gateways
      tags:
      - Payment gateways
  /payment_gateways/{id}:
    get:
      description: "Returns the details of a payment gateway.\n\n      \nPayment gateways\
        \ are integrations created through Shipmondo to payment service providers.\
        \ They are used to capture and cancel payments through Shipmondo."
      operationId: payment_gateway_get
      parameters:
      - description: ID for the payment gateway to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentGateway'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve a payment gateway
      tags:
      - Payment gateways
  /pickup_requests:
    get:
      description: Returns a list of pickup requests.
      operationId: pickup_requests_get
      parameters:
      - description: ID for the pickup request to be included in the filter
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: Carrier code to be included in the filter.
        explode: true
        in: query
        name: carrier_code
        required: false
        schema:
          enum:
          - fed_ex
          - ups
          - dhl_express
          - geodis
          - dhl_freight_se
          - post_nord
          - bring
          type: string
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          type: integer
        style: form
      - description: For pagination. Defines which page the results are fetched from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PickupRequestNoShipments'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
      security:
      - basicAuth: []
      summary: List all pickup requests
      tags:
      - Pickup requests
    post:
      description: Creates a pickup request and processes the booking at the carrier.
      operationId: pickup_requests_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePickupRequestRequest'
        description: Pickup Request object<br>
        required: true
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/PickupRequest'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: Create a pickup request
      tags:
      - Pickup requests
      x-codegen-request-body-name: body
  /pickup_requests/{id}:
    get:
      description: Returns the details of a pickup request.
      operationId: pickup_requests_show
      parameters:
      - description: ID for the pickup request to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickupRequest'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve a pickup request
      tags:
      - Pickup requests
  /printers:
    get:
      description: "Returns a list of printers.\n\n      \nPrinters are created through\
        \ the Shipmondo print client uniquely per host. They are used to send print\
        \ jobs to the print client.\n\n      \nRelated articles:\n\n      - [Shipmondo\
        \ Print Client installation and setup guide](https://help.shipmondo.com/en/articles/2564458-shipmondo-print-client-installation-and-setup-guide)"
      operationId: printers_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Printer'
                type: array
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all printers
      tags:
      - Print client
  /print_jobs:
    post:
      description: "Creates a print job.\n\n      \nPrint jobs are sent to the print\
        \ client on the specified host to print documents.\n\n      \nRelated articles:\n\
        \n      - [Shipmondo Print Client installation and setup guide](https://help.shipmondo.com/en/articles/2564458-shipmondo-print-client-installation-and-setup-guide)"
      operationId: print_jobs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrintJob'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/print_jobs_200_response'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Create a print job
      tags:
      - Print client
      x-codegen-request-body-name: body
  /print_jobs/batch:
    post:
      description: "Creates a batch of prints jobs to be printed in the specified\
        \ order on a specified host.\n\n      \nRelated articles:\n\n      - [Shipmondo\
        \ Print Client installation and setup guide](https://help.shipmondo.com/en/articles/2564458-shipmondo-print-client-installation-and-setup-guide)"
      operationId: print_jobs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrintJobBatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/print_jobs_post_200_response'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Create a print job batch
      tags:
      - Print client
      x-codegen-request-body-name: body
  /quotes:
    post:
      description: "\n      Creates a shipment quote with specified sender (origin),\
        \ receiver (destination), product and services.\n\n\n      This method determines\
        \ the **estimated** price for a shipment on Shipmondo's agreement\n\n\n  \
        \    "
      operationId: quotes_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuoteRequest'
        description: Quote Object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateQuoteResponse'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: Create a shipment quote
      tags:
      - Quotes
      x-codegen-request-body-name: body
  /quotes/list:
    post:
      description: "\n      Returns a list of available quotes for a shipment with\
        \ specified sender (origin), receiver (destination).\n\n\n      This method\
        \ fetches available **estimate** prices with different shipping products for\
        \ shipments using Shipmondo's agreement.\n\n\n      Some carriers might not\
        \ be available for technical reasons.\n      "
      operationId: quotes/list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuoteListRequest'
        description: |
          Quote Objects.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreateQuoteResponse'
                type: array
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: List available quotes for a shipment
      tags:
      - Quotes
      x-codegen-request-body-name: body
  /return_portals:
    get:
      description: Returns a list of return portals.
      operationId: return_portals_get
      parameters:
      - description: ID for the return portal.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: Filters for whether or not the return portal is active
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          type: integer
        style: form
      - description: For pagination. Defines which page the results are fetched from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnPortals'
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all return portals
      tags:
      - Return portals
  /return_portals/{id}:
    get:
      description: Returns the details of a return portal.
      operationId: return_portal_get
      parameters:
      - description: ID for the return portal to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnPortal'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve a return portal
      tags:
      - Return portals
  /return_portals/{id}/shipments:
    get:
      description: Returns a list of shipments booked through a specific return portal.
      operationId: return_portals_shipments_get
      parameters:
      - description: ID for the return portal to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Order ID for the shipments to be included in the filter
        explode: true
        in: query
        name: order_id
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Package number for the shipments that need to be considered for
          filter
        explode: true
        in: query
        name: package_number
        required: false
        schema:
          type: string
        style: form
      - description: Carrier code to be included in the filter.
        explode: true
        in: query
        name: carrier_code
        required: false
        schema:
          enum:
          - airmee
          - alpi
          - b2c_europe
          - best
          - bft
          - bhs_logistics
          - bpost
          - bring
          - brink
          - budbee
          - burd
          - bws
          - cm_transport
          - collicare
          - dachser
          - dansk_distribution
          - dao
          - db_schenker
          - deutsche_post
          - dfm
          - dhl_express
          - dhl_freight_se
          - dhl_parcel
          - doorhub
          - dpd
          - dsv
          - dsv_xpress
          - early_bird
          - endepunkt
          - esbjerg_gods
          - fed_ex
          - freja
          - frms
          - geodis
          - gls
          - gls_de
          - gls_e
          - gls_pl
          - helthjem
          - hurrah_today
          - instabox
          - interfjord
          - jjd
          - kht
          - leman
          - mover
          - pdk
          - per_dg
          - posten_norge
          - posti
          - post_nl
          - post_nord
          - rb9
          - sand_distribution
          - sdl
          - srt
          - test_gc
          - tnt
          - ub_db_schenker_se
          - unspecified
          - ups
          - xpressen
          type: string
        style: form
      - description: ISO3166-1 alpha-2 country code to be included in the filter.
        explode: true
        in: query
        name: receiver_country
        required: false
        schema:
          type: string
        style: form
      - description: |
          "From" timestamp for the shipments to be included in the filter. Examples:
          * 2017-06-19T11:00:03.305+02:00
          * 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
        explode: true
        in: query
        name: created_at_min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          "To" timestamp for the shipments to be included in the filter. Examples:
          * 2017-06-29T11:00:03.305+02:00
          * 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
        explode: true
        in: query
        name: created_at_max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          type: integer
        style: form
      - description: For pagination. Defines which page the results are fetched from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Shipment'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all shipments for a return portal
      tags:
      - Return portals
  /sales_orders:
    get:
      description: "Returns a list of sales orders.\n\n      \nSales orders are used\
        \ handle all processes of the order flow, including but not limited to picking,\
        \ packing, sending shipments, and capturing payments through the Shipmondo\
        \ app."
      operationId: sales_orders_get
      parameters:
      - description: ID for the sales order to be included in the filter.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: Order ID for the sales order to be included in the filter.
        explode: true
        in: query
        name: order_id
        required: false
        schema:
          type: string
        style: form
      - description: reference for the order to be included in the filter.
        explode: true
        in: query
        name: reference
        required: false
        schema:
          type: string
        style: form
      - description: Billing email for the order to be included in the filter.
        explode: true
        in: query
        name: bill_to_email
        required: false
        schema:
          type: string
        style: form
      - description: Billing mobile for the order to be included in the filter.
        explode: true
        in: query
        name: bill_to_mobile
        required: false
        schema:
          type: string
        style: form
      - description: Shipping email for the order to be included in the filter.
        explode: true
        in: query
        name: ship_to_email
        required: false
        schema:
          type: string
        style: form
      - description: Shipping mobile for the order to be included in the filter.
        explode: true
        in: query
        name: ship_to_mobile
        required: false
        schema:
          type: string
        style: form
      - description: Filter for achived or not.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          "From" value of "created" timestamp for the sales orders to be included in the filter. Examples:
          * 2018-06-19T11:00:03.305+02:00
          * 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
        explode: true
        in: query
        name: created_at_min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |-
          "To" value of "created" timestamp for the sales orders to be included in the filter. Examples:
          * 2018-06-29T11:00:03.305+02:00
          * 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
        explode: true
        in: query
        name: created_at_max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |-
          "From" value of "updated" timestamp for the sales orders to be included in the filter. Examples:
          * 2018-06-19T11:00:03.305+02:00
          * 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00
        explode: true
        in: query
        name: updated_at_min
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |-
          "To" value of "updated" timestamp for the sales orders to be included in the filter. Examples:
          * 2018-06-29T11:00:03.305+02:00
          * 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00
        explode: true
        in: query
        name: updated_at_max
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: For pagination. Defines which page the results are fetched from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SalesOrder'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all sales orders
      tags:
      - Sales orders
    post:
      description: "Creates a sales order.\n\n      \nSales orders are used handle\
        \ all processes of the order flow, including but not limited to picking, packing,\
        \ sending shipments, and capturing payments through the Shipmondo app."
      operationId: sales_orders_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSalesOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: Create a sales order
      tags:
      - Sales orders
      x-codegen-request-body-name: body
  /sales_orders/{id}:
    get:
      description: "Returns the details of a sales order.\n\n      \nSales orders\
        \ are used handle all processes of the order flow, including but not limited\
        \ to picking, packing, sending shipments, and capturing payments through the\
        \ Shipmondo app."
      operationId: sales_order_get
      parameters:
      - description: ID for the sales order to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve a sales order
      tags:
      - Sales orders
    put:
      description: "\n      Updates an existing sales order and its order lines. Updating\
        \ order lines is exclusively possible with open orders.\n\n      \nSales orders\
        \ are used handle all processes of the order flow, including but not limited\
        \ to picking, packing, sending shipments, and capturing payments through the\
        \ Shipmondo app.\n      "
      operationId: sales_order_put
      parameters:
      - description: ID for the sales order that needs to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSalesOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: Update a sales order
      tags:
      - Sales orders
      x-codegen-request-body-name: body
  /sales_orders/{id}/order_note:
    put:
      description: Updates the note for a sales order.
      operationId: sales_order_update_note
      parameters:
      - description: ID for the sales order that note should be updated for
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSalesOrderNote'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Update a sales order note
      tags:
      - Sales orders
      x-codegen-request-body-name: body
  /sales_orders/{id}/create_shipment:
    post:
      description: "Creates a shipment for a sales order.\n\n      \nThe shipment\
        \ will be created based on the associated shipment template."
      operationId: sales_order_create_shipment
      parameters:
      - description: ID of the sales order to create a shipment for
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Create a shipment
      tags:
      - Sales orders
  /sales_orders/{id}/capture:
    post:
      description: "Captures payment for a sales order.\n\n      \nThe authorized\
        \ amount (or value of the fulfilled items amount if the setting is enabled)\
        \ for the transaction associated with the order will be captured."
      operationId: sales_order_capture
      parameters:
      - description: ID for the sales order that needs to be captured
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Capture payment
      tags:
      - Sales orders
  /sales_orders/barcode:
    post:
      description: Processes a sales order barcode and executes the defined actions.
        The actions that are executed are defined in the pick settings at Shipmondo.
      operationId: sales_order_barcode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessSalesOrderBarcode'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Process a barcode
      tags:
      - Sales orders
      x-codegen-request-body-name: body
  /sales_orders/{id}/pick_list:
    get:
      description: "Returns a pick list for a sales order. Pick list is delivered\
        \ as Base64-encoded data.\n\n      \nPick lists contain the items for the\
        \ order, and their locations, optimized for your picking flow."
      operationId: sales_order_pick_list
      parameters:
      - description: ID for the sales order to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: |
          Format for the pick list. Available: a4_pdf, 10x19_pdf
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - a4_pdf
          - 10x19_pdf
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PickListData'
                type: array
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve a pick list
      tags:
      - Sales orders
  /sales_orders/{id}/packing_slips:
    get:
      description: "Returns a packing slip for a sales order. Packing slip is delivered\
        \ as Base64-encoded data.\n\n      \nPacking slips are branded slips used\
        \ for disclosing which orders are sent to the end customer."
      operationId: sales_order_packing_slips
      parameters:
      - description: ID for the sales order to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: |
          Format for the pick list. Available: a4_pdf, 10x19_pdf
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - a4_pdf
          - 10x19_pdf
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackingSlip'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve a packing slip
      tags:
      - Sales orders
  /pick_lists:
    get:
      description: "Return pick lists for specific sales orders. Limit: **25** sales\
        \ order IDs per request.\n\n      \nPick lists contain the items for the order,\
        \ and their locations, optimized for your picking flow."
      operationId: pick_list_get
      parameters:
      - description: |
          A list of sales order IDs that you want to fetch pick lists for. Examples 10075,10076,10077
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Format for the pick lists. Available: a4_pdf, 10x19_pdf
        explode: true
        in: query
        name: output_format
        required: false
        schema:
          enum:
          - a4_pdf
          - 10x19_pdf
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PickList'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve pick lists
      tags:
      - Sales orders
  /packing_slips:
    get:
      description: "Returns packing slips for specific sales orders. Limit: **25**\
        \ sales order IDs per request.\n\n      \nPacking slips are branded slips\
        \ used for disclosing which orders are sent to the end customer."
      operationId: packing_slip_get
      parameters:
      - description: |
          A list of sales order IDs that you want to fetch packing slips for. Examples 10075,10076,10077
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Format for the packing slips. Available: a4_pdf, 10x19_pdf
        explode: true
        in: query
        name: output_format
        required: false
        schema:
          enum:
          - a4_pdf
          - 10x19_pdf
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PackingSlip'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve packing slips
      tags:
      - Sales orders
  /sales_order_packagings:
    get:
      description: "Returns a list of the sales order packagings.\n\n      \nSales\
        \ order packaging is used to add dimensions and weight to shipments created\
        \ for the associated sales order."
      operationId: sales_order_packagings_get
      parameters:
      - description: ID for the sales order packaging to be included in the filter
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: For pagination. Defines how many entries are returned per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: For pagination. Defines which page the results are fetched from.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/SalesOrderPackaging'
                type: array
          description: Successful.
          headers:
            X-Current-Page:
              description: Pagination - Current Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Per-Page:
              description: Pagination - Per Page.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Count:
              description: Pagination - Total Count.
              explode: false
              schema:
                type: integer
              style: simple
            X-Total-Pages:
              description: Pagination - Total Pages Count.
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: List all packagings
      tags:
      - Sales orders
  /sales_order_packagings/{id}:
    get:
      description: "Returns the details of a sales order packaging.\n\n      \nSales\
        \ order packaging is used to add dimensions and weight to shipments created\
        \ for the associated sales order."
      operationId: sales_order_packaging_get
      parameters:
      - description: ID for the sales order packaging to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SalesOrderPackaging'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
      security:
      - basicAuth: []
      summary: Retrieve a packaging
      tags:
      - Sales orders
  /sales_orders/{id}/fulfillments:
    get:
      description: "Lists all fulfillments for a sales_order.\n\n      \nFulfillments\
        \ are used for completing orders and creating shipments."
      operationId: sales_order_fulfillments_get
      parameters:
      - description: ID for the sales order to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillmentCreated'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: List fulfillments
      tags:
      - Sales orders
      x-codegen-request-body-name: body
    post:
      description: "Creates a fulfillment, based on a sales_order.\n\n      \nFulfillments\
        \ are used for completing orders and creating shipments."
      operationId: fulfillment_post
      parameters:
      - description: ID for the sales order to be included in the filter
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFulfillmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillmentCreated'
          description: Successful.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_401_response'
          description: Unauthorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bookkeeping_integrations_get_404_response'
          description: Resource not found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers_get_422_response'
          description: Invalid or not found parameter(s)
      security:
      - basicAuth: []
      summary: Create a fulfillment
      tags:
      - Sales orders
      x-codegen-request-body-name: body
  /fulfillments/{id}:
    get:
      description: "Retrieves a fulfillment.\n\n      \nFulfillments are used for\
        \ completing orders and creating shipments."
      operationId: fulfillment_get
      parameters:
[...]
